@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/*font-family: 'Ubuntu',
sans-serif;

font-family: 'Roboto Condensed',
sans-serif;*/

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/bg-fohas.jpg);
    background-size: cover;
    color: aliceblue;
    font-family: 'Ubuntu',sans-serif
}
.nav-bar{
    background-color: rgba(0, 0, 0, 0.226);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.logo h1 a{
    margin-left: 30px;
    font-size: 1.8rem;
    text-decoration: none;
    color: rgb(18, 165, 74);
    transition: 0.5s;
}
.logo h1 a:hover{
    color: rgb(23, 196, 60);
}
.nav-links{
    list-style: none;
    display: flex;
    margin-right: 30px;
}
.nav-link a{
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
}
.nav-link:not(:last-child){
    margin-right: 30px;
}
.nav-link a:hover{
    color: rgb(24, 211, 71);
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 60px);
}
.content-home{
    width: 500px;
}
.title-home{
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif
}
.subtitle-home{
    font-size: 2rem;
    margin-bottom: 10px;
}
.text-home{
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
fieldset{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
.camp-container{
    margin-bottom: 20px;
}
.camp{
    display: flex;
    align-items: center;
}
.span-required{
    font-size: 14px;
    margin: 3px 0 0 1px;
    color: red;
    display: none;
}
.camp input{
    margin-left: 10px;
    outline: none;
    border: black;
    padding: 5px;
    border-bottom: 2px solid white;
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0);
}
.camp input:focus{
    border-bottom: 2px solid rgb(37, 179, 32);
}

#eyePasswordOpen{
    display: block;
}
#eyePasswordClose{
    display: none;
}
#eyeConfirmPasswordOpen{
    display: block;
}
#eyeConfirmPasswordClose{
    display: none;
}

img{
    height: 20px;
    background-color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    padding: 2px;
}

button{
    margin-top: 30px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    border: none;
    font-weight: 700;
    background-color: aliceblue;
    transition: 0.3s;
}
button:hover{
    background: linear-gradient( -35deg, rgb(25, 104, 15), rgb(85, 221, 73));
    color: aliceblue;
}
#cadastrado{
    background-color: rgb(12, 148, 64);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: none;
}
#cadastrado h2{
    color: black;
    margin-bottom: 10px;
}
footer p{
    margin-top: -40px;
    text-align: center;
    font-size: 1.3rem;
    color: rgb(199, 199, 199);
}